@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono.ttf');
}

.header {
    -fx-background-color: #264653;
}

.header-title {
    -fx-font-family: "JetBrains Mono Medium";
    -fx-text-fill: #ffff;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.author {
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: #ffff;
}

.input-label {
    -fx-font-family: "JetBrains Mono Medium";
    -fx-text-fill: #ffff;
    -fx-label-padding: 0 10 0 0;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: #000;
    -fx-label-padding: 0 10 0 0;
    -fx-font-size: 15px;
}

.field-vbox {
    -fx-background-color: #006d77;
}

.choice-box {
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: #000;
    -fx-font-size: 15px;
}

.choice-box:hover {
    -fx-cursor: hand;
}

.save-button {
    -fx-font-family: "JetBrains Mono Light";
    -fx-text-fill: #000;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
}

.save-button:hover {
    -fx-font-family: "JetBrains Mono Medium";
    -fx-background-color: #264653;
    -fx-text-fill: #ffff;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.save-button:pressed {
    -fx-opacity: 0.5;
}